name: .NET Minimal API CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout 源代码
    - name: Checkout code
      uses: actions/checkout@v3
      with:
          token: ${{ secrets.GH_TOKEN }}

    # 2. Setup .NET
    - name: Setup .NET 8
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    # 3. Restore dependencies
    - name: Restore dependencies
      run: dotnet restore

    # 4. Build project
    - name: Build
      run: dotnet build --no-restore --configuration Release

    # 5. Run tests
    - name: Test
      run: dotnet test --no-build --configuration Release --verbosity normal